.titlebar {
  display: block;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 28px;
  width: 100%;
  color: #fff;
  -webkit-app-region: drag;
}

.window-controls {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
}

.window-controls .button {
  width: 28px;
  height: 28px;
}

.window-controls .minimize {
  background: url('../images/minimize_icon.png');
}

.window-controls .minimize:hover {
  background-image: url('../images/minimize_icon_hover.png');
}

.window-controls .resize {
  background: url('../images/resize_icon.png');
}

.window-controls .resize:hover {
  background-image: url('../images/resize_icon_hover.png');
}

.window-controls .close {
  background: url('../images/close_icon.png');
}

.window-controls .close:hover {
  background-image: url('../images/close_icon_hover.png');
}
